/*
 * Setting the style for the body means that all text content 
 * will default to the specified style.
 */
 body {				
    /* All text will be 20px from the left */
    margin-left: 30px;	
    
    /* Make the background a dark grey */
    background-color: #5b5151;
  
    /* Change all text to be monospaced font by default */
    font-family: 'Times New Roman', Times, serif;
  
    /* Make the font color a shade of green */
    color: #ffffff;
  }

  h1 {
    margin-left: 0%;
  }

  h2 {
    margin-left: 5px;
  }

  p {
    margin-left: 25px;
   font-size: 120%;
  }
  
  /* 
   * Style the unordered list 
   */
  ul {		
    list-style-type: none;

   /* Remove any existing margin and padding space */
    margin: 0;
    padding: 0;
  
    /* Force anything that comes after the list to be below it */
    overflow:hidden;
  }
  
  /* 
   * Style each list item of every unordered list 
   */
  ul li {
    /* position left horizontally (instead of vertically one below the other) */
    float: left;  	
  
    /* pad 10 pixels all around the text */
    padding: 10px;	
  
    /* Increase the font size by 20% relative to the normal size */
    font-size: 120%;
    
    /* make the font colour white */
    color: white;
  }
  
ol {
 /* Disable the bullet point markers on the list items */
    list-style-type: none;
  
    /* Remove any existing margin and padding space */
    margin: 0;
    padding: 0;
  
    /* Force anything that comes after the list to be below it */
    overflow:hidden;
}
ol li {
 float: left;  	
  
    /* pad 10 pixels all around the text */
    padding: 10px;	
  
    /* Increase the font size by 20% relative to the normal size */
    font-size: 120%;
    
    /* make the font colour white */
    color: white;
}
/* Define a custom bullet point style */
.bullet-points {
    padding-left: 20px; /* Add space for the bullet point */
    text-indent: -20px; /* Indent the text to hide the default bullet point */
}

.bullet-points::before {
    content: "\2022"; /* Use a Unicode bullet point character (•) */
    margin-right: 5px; /* Add space between the bullet point and text */
    color: #333; /* Customize the bullet point color */
}
